* {
    font-family: 微軟正黑體;
}
.postclose{
    position: absolute;
    left:20px;
    font-size:50px;
    color: white;
    font-weight:900;
}
.objcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
h4{
    color:rgb(83, 81, 81);
    font-size: 20px;
    font-weight: 700;
}
p{
    font-size: 16px;
    word-wrap:break-word; 
    word-break:normal;
}
.collection{
    position:absolute;
    z-index: 2;
    right: 20px;
    color: rgb(255, 255, 255);
    font-size: 50px;
}
.selectcolor{
    color: rgb(255, 0, 0);
}