.font {
    font-family: Microsoft JhengHei;
    padding: 0px;
}

/* 家具照片排列 */

.flex {
    flex: 1 auto;
    display: flex;
    height: 150px;
    padding: 15px 25px;
    border: 0px;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    justify-content: left;
    margin-top: 0px;


}

/* 照片下方文字 */

.content {
    display: block;
    text-align: center;
    color: white;
    margin-right: 15px;
    font-size: 20px
}


/* 圓形照片 */

.square {

    border-radius: 50%;
    padding: 0px;
    /* border: 5px solid ;
    color: yellow; */
    margin-right: 15px;
}


/* 透明的按鈕 */

.buttontype {
    background-color: transparent;
    border-color: transparent;
    margin: 0px;
    outline: none;
}

/* 最上方title */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.fedtitle {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 18px;
    color: white;
}

.fedtitle > p{
    border: 3px solid white;
}

.bordertype {
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}


.inner {
    flex: 1 auto;
    display: flex;
    height: 300px;
    padding: 15px;
    border: 8px;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.plus {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: white;
    height: 38px;
    
}
.box{
    position: relative;
}
.box-wrap {
    text-align: center;
    overflow: hidden;
    margin-top:195px;
    margin-bottom: 40px;
}

.box-wrap>div {
    width: 33%;
    height: 33vw;
    padding-bottom: 0%;
    margin: 0.16%;
    float: left;
}

.box-wrap>p {
    color:gray;
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin:0px;
    padding: 10px 0px;
}

.icon1 {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.circlefix {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border: 2px solid #f0f0f0;
    background-color: #254F6E;
    border-radius: 50%;
    /* border-color: transparent; */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

}

.objcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
a, a:link, a:active, a:visited, a:hover
        {
            color: inherit;
            color: #254F6E;
            text-shadow: 0 0 0.2em rgb(0, 0, 0, 0.4);
            text-decoration: none; /*變成沒底線*/
            font-size: 18px
        }
.iwarn{
    font-size:25px;
    color:rgb(255, 0, 0);
    position: absolute;
    right:3px;
    top:-5px;
}
.takephotobtn{
    padding: 10px;
     display:inline;
     background-color:#f8f9fa;
     border-color: #f8f9fa;
     border-radius: 5%;
}
.takephotobtn:hover {
    background-color: #e2e6ea;
    border-color: #dae0e5;
  }

.fphotothumb{
    width:120px;
    height:120px;
    margin-bottom:10px;
    border-radius:10%;
}
.fephotothumb{
    max-width: 80vw;
    max-height: 100vw;
    margin-bottom: 10px;
}
.modal-header {
    background-color: #254F6E;
}
.modal-title {
    color: #FFFFFF;
    margin-left: 10px;
}
.close {
    color: #FFFFFF;
}
.a img[src=""] {
    display: none;
}