
        * {
            /* border:solid 1px black; */
            font-family: 微軟正黑體;
            /* background-color: #F5F6F8; */
        }

        ion-icon{
            width: 30px;
            height: 25px;
            }

		/* html, body {
			position: relative;
			height: 100%;
		} */
        html, body
        {
            padding: 0;
            margin: 0;
        }
        body
        {
            background-color: #F5F6F8;
            font-family: Arial, Helvetica, Verdana;
            font-size: 14px;
            line-height: 22px;
            color: #666;
            position: relative;
            -webkit-text-size-adjust: none;
        }
        body *
        {
            text-shadow: none;
        }
        h1, h2, h3, h4, h5, h6
        {
            line-height: 1;
            font-weight: bold;
            margin: 20px 0 10px 0;
        }
        h1, h2, h3
        {
            font-size: 18px;
        }
        h4, h5, h6
        {
            font-size: 16px;
        }
        p
        {
            margin: 0 0 0 0;
        }
        a, a:link, a:active, a:visited, a:hover
        {
            color: inherit;
            text-decoration: none;
        }
        

        nav:not(.mm-menu)
        {
            display: none;
        }
        
        .header,
        .content,
        .footer
        {
            text-align: center;
        }
        .header
        {
            background:#254F6E;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            line-height: 40px;
        
        
            -moz-box-sizing: border-box;
            box-sizing: border-box;	
            width: 100%;
            height: 40px;
            padding: 0 50px;
        }
        .triangle{
            width: 0;
            height: 0;
            border-style: solid;
            border-width:13.0px 7.5px 0 7.5px;
            border-color: #ffffff transparent transparent transparent;
            position: absolute;
            top:15px;
            right: 15px;
        }
        
        .footer{
            position: fixed;
            bottom: 0;
            background: #fff;
            box-shadow:  2px -0.2px 0.5px 0.5px rgba(0, 0, 0, 0.2);
            
        }
        .row1{
            width: 100%;
            height: 40px;
            margin: 0px;
        }
        .header.fixed
        {
            position: fixed;
            top: 0;
            left: 0;
        }
        .footer.fixed
        {
            position: fixed;
            bottom: 0;
            left: 0;
        }
        .header a
        {
            background: center center no-repeat transparent;
            background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );
            display: block;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 0;
            left: 10px;
        }
        .content
        {
            padding: 150px 80px 80px 80px;
        }	
        .icon{
            display: flex;
            justify-content:center;
            align-content: center;
            padding-top: 2px;
        }
        .icon1:hover{
            color: #254F6E;
        }
        .icon1 {
            color:black;
            font-size: 30px;
        }
       
        .circlefix{
            width:40px;
            height:40px;
            /* background-image: url(../static/Home/_ionicons_svg_md-add.svg); */
            background-color: #254F6E;
            border-radius:50%;
            border-color: transparent;
            position: fixed;
            right:20px;
            bottom:60px;
            box-shadow:0px 0px 35px rgba(0,0,0,0.3);
            transition:0.5s;
        }
          .circlefix:hover{
             box-shadow:5px 5px 60px rgba(0,0,0,0.4);
            transform:translate(-5px,-5px)
          }

        .add{
            display: flex;
            justify-content:center;
            align-content: center;
            padding-top: 2px;
        }
        .icon1{
            transition:0.3s;
        }
        .icon1:hover{
           fill: #254F6E;
           
        }
        .icon2{
            color: #fff;
            font-size: 30px;
            margin-left:0;
            margin-right:0 ;
        }
        
        .icon22{
            display: flex;
            justify-content:center;
            align-content: center;
            padding:30px;
            color: #fff;
           
        }
        
        .modal-body ul{
            list-style:none;
            padding-left:0;
            font-size: 16px;
          }
        .add i,
        .points i
        {
            font-size: 30px;
            color:rgb(255, 255, 255);
        }
        
        /* 以下都是H01-1 */

        .exrect{
            display:flex;
            align-items:center;
            justify-content:center;
            width: 100px;
            height: 100px;
            background-color:#254F6E;
            border-color: black;
            color: white;
            text-align: center;
        }
        .points i{
            position: relative;
            /* margin-right: -30px;
            padding-top: -30px; */
            left:20px;
            top:25px;
        }



        /* The Modal (background) 彈跳視窗 */
        .modal2 {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            -webkit-animation-name: fadeIn; /* Fade in the background */
            -webkit-animation-duration: 0.4s;
            animation-name: fadeIn;
            animation-duration: 0.4s
        }
        
        /* Modal Content */
        .modal2-content {
            position: fixed;
            bottom: 0;
            background-color: #254F6E;;
            width: 100%;
            -webkit-animation-name: slideIn;
            -webkit-animation-duration: 0.4s;
            animation-name: slideIn;
            animation-duration: 0.4s
        }
        
        /* The Close Button */
        .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .modal2-header {
            padding: 2px 16px;
            background-color: #5cb85c;
            color: white;
        }
        
        .modal2-body {padding: 2px 16px;}
        
        .modal2-footer {
            padding: 2px 16px;
            background-color: #5cb85c;
            color: white;
        }
        
        /* Add Animation */
        @-webkit-keyframes slideIn {
            from {bottom: -300px; opacity: 0} 
            to {bottom: 0; opacity: 1}
        }
        
        @keyframes slideIn {
            from {bottom: -300px; opacity: 0}
            to {bottom: 0; opacity: 1}
        }
        
        @-webkit-keyframes fadeIn {
            from {opacity: 0} 
            to {opacity: 1}
        }
        
        @keyframes fadeIn {
            from {opacity: 0} 
            to {opacity: 1}
        }