/* *{
    border:solid 1px black;
} */

.font {
   
    font-family: Microsoft JhengHei;
}

.flex {
    flex: 1 auto;
    display: flex;
    height: 250px;
    padding: 15px;
    border: 8px;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #254F6E;
    align-items: center;
    justify-content: center;

}

.contentstyle {
    background-color: white
}

.title {
    align-items: center;
    justify-content: center;
}

.bordertype {
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 30px;
    background-color: white;
    margin-top:-28px;
    height: 400px;
}

.buttontype {
    background-color: transparent;
    border-color: transparent;
}

/* logo特效 */
.w3-animate-fading{
    animation:fading 5s infinite
}

/* 確認按鈕 */
.logcon{
    border-radius: 30px;
    background-color:#f4c92a;
    color:#254F6E;
    display: table;
    margin: 0 auto;
}

/* 上方註冊 */
.left{
    display: table;
    margin: 0 auto;
    border-radius: 20px;
    height: 40px;
    outline:none;
}

/* 上方登入 */
.right{
    display: table;
    margin: 0 auto;
    border-radius: 20px;
    height: 40px;
    outline:none;
}

/* 點擊上方註冊及登入後變色 */
.upcon1{
    background-color:#254F6E;
    color:white;
    outline:none;
}

/* 表單圓角 */
.form-control{
    border-radius: 30px; 
}

.city{
    margin-top:10px;
}

.btn:hover{
    color:none;
}
/* #f4c92a
#254F6E
white */

button:focus{
    outline:none;
}
.objcenter {
    text-align: center;
}
.modal-header {
    background-color: #254F6E;
}
.modal-title {
    color: #FFFFFF;
    margin-left: 10px;
}
.close {
    color: #FFFFFF;
}
.first{
    background-color: #254F6E;
    height:100vh; 
    width:100vw;
    position:absolute;
    top: 0px;
    z-index:100;
    display: flex;
    align-items: center;
    justify-content: center;
}
