.font {

    font-family: Microsoft JhengHei;
}

.flex {
    flex: 1 auto;
    display: flex;
    height: 250px;

    border: 8px;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #254F6E;
    align-items: center;
    justify-content: center;
    width: 100%;



}

.contentstyle {
    background-color: white
}

.title {
    align-items: center;
    justify-content: center;
}

.bordertype {
    border-style: solid;
    border-width: 0.1vw;
    border-color: white;
    border-radius: 30px;
    background-color: white;
    margin-top: -28px;
    padding: 0px;
    height: 60vh;
}

.buttontype {
    background-color: transparent;
    border-color: transparent;
}

/* logo特效 */
.w3-animate-fading {
    animation: fading 5s infinite
}



/* 類別 所屬人 未放回 */
.upcon1 {
    display: table;
    margin: 0 auto;
    border-radius: 20px;
    height: 40px;
    outline: none;
    color: #fff;
    background-color: #254F6E;
    width: 27%;
    float: left;
    margin-right: 5px;
    margin-top: 0px;
    margin-left: 7px;
}

.upcon2 {
    display: table;
    margin: 0 auto;
    border-radius: 20px;
    height: 40px;
    outline: none;
    color: #fff;
    background-color: #254F6E;
    width: 33%;
    float: right;
    margin-right: 5px;
    margin-top: 0px;
    margin-left: 7px;
}

.upcon1:hover {
    background-color: #254F6E;
    color: #ffee00;
}

.upcon2:hover {
    background-color: #254F6E;
    color: #ffee00;
}






button:focus {
    outline: none;
}

/* s */
.font {
    font-family: Microsoft JhengHei;
}

input[type=text] {
    border-radius: 20px;
    background-color: white;
    border: 0;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    margin-left: 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    width: 87%;
    height: 40px;
    background-color: rgba(252, 248, 248, 0.082);
    color: white;
    border: transparent;
    padding-left: 30px;

}

input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}

::-webkit-input-placeholder {
    color: white;
}

input:focus {
    outline: none;
}

.imgtype {
    align-items: center;
    justify-content: center;

}

/* img {
    width: 100%;
    height: 100%;
} */


.box-wrap {
    text-align: center;
    background-color: transparent;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

.box-wrap>div {
    width: 33vw;
    height: 33vw;
    padding-bottom: 0%;
    margin: 0.12%;
    float: left;
}

.searchrow {
    margin-top: 20px;
    margin-bottom: 15px;
}

.searchbtn {
    margin-right: 30px;
}

.btn-outline {
    border-radius: 8px;
    border-color: #254F6E;
    color: #254F6E;
    font-family: "微軟正黑體";
}

.btn-outline:hover {
    background-color: #254F6E;
    color: #f0f0f0;
}

.categoryth {
    text-align: center;
    width: 30%;
}

.thingth {
    text-align: center;
    width: 70%;

}

.category {
    text-align: center;
    position: relative;
    transform: translateY(0%);

}



.searchcontent {
    margin-bottom: 40px;
    margin-top: 45px;
    padding: 0px;
}

.searchtext {
    font-size: 33px;
    font-weight: bold;
    color: #f0f0f0;




}

.s {
    color: #f0f0f0;
    font-size: 35px;
}

b {
    color: rgb(90, 88, 88);
    margin-left: 15px;

}

.footer {
    position: fixed;
    bottom: 0;
    background: #fff;
    box-shadow: 2px -0.2px 0.5px 0.5px rgba(0, 0, 0, 0.2);

}

.row1 {
    width: 100%;
    height: 40px;
    margin: 0px;
}

.icon {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 2px;
}

.icon1:hover {
    color: #254F6E;
}

.icon1 {
    color: black;
    font-size: 30px;
}

ion-icon {
    width: 30px;
    height: 25px;
}

a,
a:link,
a:active,
a:visited,
a:hover {
    color: inherit;
    text-decoration: none;
    font-size: 18px
}

/* 引導頁 */
.lead{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1031;
}
.mask{
    z-index: 1031;
    width: 100vw;
    height: 100vh;
    background-color: rgb(17, 16, 16);
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
}
.caption{
    color:white;
    z-index: 1032;
    position: fixed;
    top: 280px;
    left: 60px;
}

.arrow{
    font-size: 50px;
    color:white;
    z-index: 1033;
    position: fixed;
    top: 150px;
    left: 60px;
}
.know{
    z-index: 1034;
    position: fixed;
    top: 380px;
    left: 180px;
    border: white 1px solid;
    width: fit-content;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    padding: 8px;
}